

<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Inscription d'un Client</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formClient.id" readonly/>
        </div>
        <div class="form-group">
            <label for="version">Version:</label> <input type="number" class="form-control" id="version" name="version" [(ngModel)]="formClient.version" readonly />
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="Nom" name="nom" [(ngModel)]="formClient.nom" />
        </div>
        <div class="form-group">
            <label for="prenom">Prenom:</label> <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formClient.prenom" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formClient.email" />
        </div>
        
        <div class="form-group">
            <label for="planete">Adresse : Planete</label> <input type="string" class="form-control" id="planete" name="planete" [(ngModel)]="formClient.adresse.planete" />
        </div>
        <div class="form-group">
            <label for="district">Adresse : District</label> <input type="string" class="form-control" id="district" name="district" [(ngModel)]="formClient.adresse.district" />
        </div>
        <div class="form-group">
            <label for="ville">Adresse : Ville</label> <input type="string" class="form-control" id="ville" name="ville" [(ngModel)]="formClient.adresse.ville" />
        </div>
        <div class="form-group">
            <label for="rue">Adresse : Rue</label> <input type="string" class="form-control" id="rue" name="rue" [(ngModel)]="formClient.adresse.rue" />
        </div>
        <div class="form-group">
            <label for="login">login</label> <input type="string" class="form-control" id="login" name="login" [(ngModel)]="formUtil.identifiant" />
        </div>
        <div class="form-group">
            <label for="password">password</label> <input type="string" class="form-control" id="password" name="password" [(ngModel)]="formUtil.motDePasse" />
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>