<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des réservations</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Depart</th>
                    <th>Destination</th>
                    <th>Nombre de passagers</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let reservation of listUpcoming()">
                    <td>{{reservation.date}}</td>
                    <td>{{"test"}}</td>
                    <td>{{"test"}}</td>
                    <td>{{reservation.passagers.length}}</td>
                    <td>{{reservation.prix}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-danger" (click)="remove(reservation.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>            
</div>
<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Réservations passées</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Depart</th>
                    <th>Destination</th>
                    <th>Nombre de passagers</th>
                    <th>Prix</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let reservation of listPast()">
                    <td>{{reservation.date}}</td>
                    <td>{{"test"}}</td>
                    <td>{{"test"}}</td>
                    <td>{{reservation.passagers.length}}</td>
                    <td>{{reservation.prix}}</td>
                </tr>
            </tbody>

        </table>            
</div>
</div>
</div>



