<div class="card mt-3" *ngIf="formPassager">
  <form>
      <div class="row">
      <div class="row" id="forms">
        <h3>Coordonnées passager</h3>
          <div class="col">
              <label for="nom">Nom</label>
            <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="formPassager.nom" name="nom">
          </div>
          <div class="col">
              <label for="prenom">Prenom</label>
            <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="formPassager.prenom" name="prenom">
          </div>
          <div class="col">
            <label for="dateNaissance">Date de naissance</label>
          <input type="date" class="form-control" placeholder="Date" [(ngModel)]="formPassager.dateNaissance" name="dateNaissance">
          </div>
        </div>
  </div>
  <div class="btn-group btn-group-lg float-right">
      <a class="btn btn-outline-primary" (click)="addPassager()"><i class="bi bi-check-square-fill"></i></a>
  </div>
  </form>
</div>

<div class="card mt-3" *ngIf="(!formPassager)&&(!showConfirm)">
  <div class="card-header bg-primary text-white display-6">Voulez vous ajouter un autre passager</div>
  <div class="centrage">
      
      <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-success" (click)="yes()"><i class="bi bi-check-square-fill"></i></a>

      </div>
       <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-danger" (click)="no()"><i class="bi bi-x-lg"></i></a>
      </div>

</div>
</div>
      <form>
      <div class="card-body">
     
        <div class="voyage">
        
                <tbody>
                       
                        <tr *ngFor="let e of voyage.etapes; let index = index" class="">
                               <div *ngIf="index<=(voyage.etapes.length)-1">
                                        <td *ngIf="index<=(voyage.etapes.length)-1"><strong>Etape {{index +1}}</strong>:{{e.planeteDepart.nom}}</td></div>
                                        <div *ngIf="index>=(voyage.etapes.length)-1">
                                        <td ><strong>Etape {{index +2}} </strong>:{{(voyage.etapes[(voyage.etapes.length)-1]).planeteArrivee.nom}}</td></div>
                           
                                        <strong></strong>
 
                            </tr>
                        </tbody>               
        <br>
        <div class="info"><p class="card-text"><strong>Depart </strong>: {{voyage.etapes[0].depart}}</p> </div>
        <div class="info"><p class="card-text"><strong>Arrivée </strong>: {{voyage.etapes[(voyage.etapes.length)-1].depart}}</p> </div>
        <div class="info"><p class="card-text"><strong>Distance </strong>: {{voyage.distance}}</p> </div>
        <div class="info"> <p class="card-text"><strong>Nombre de passagers </strong>: {{passagers.length}}</p></div>
        <div class="info"> <p class="card-text"><strong>Prix </strong>: {{voyage.prix*passagers.length}}</p></div>
        <div class="centrage" *ngIf="showConfirm"> <div class="connexion">     
          <a id="confirm" (click)="save()">Confirmer la réservation</a>     
        </div></div>
</div>
</div>
</form>