<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="'active'"><img  width="50" height="50" src="assets/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']" [routerLinkActive]="'active'">  Accueil </a>
        </li>

        <li class="nav-item">
          <a *ngIf="!authService.connected" class="nav-link" [routerLink]="['/connexion']" [routerLinkActive]="'active'">Connexion</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!authService.connected" class="nav-link" [routerLink]="['/inscription']" [routerLinkActive]="'active'">Inscription</a>
        </li>


        <li class="nav-item">
          <a *ngIf="authService.isClient()"class="nav-link" [routerLink]="['/accueilclient/']" [routerLinkActive]="'active'">Espace Client</a>
        </li>
        
        <li class="nav-item">
          <a *ngIf="authService.isAdmin()"class="nav-link" [routerLink]="['/accueiladmin/']" [routerLinkActive]="'active'">Espace admin</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isAdmin()"class="nav-link" [routerLink]="['/listeReservation/']" [routerLinkActive]="'active'">Liste Reservation</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isAdmin()"class="nav-link" [routerLink]="['/voyage/']" [routerLinkActive]="'active'">Voyage</a>
        </li>
        
     
      </ul>
    </div>
  </nav>