
<div id="voyage">
  
    <div class="carouselTaille">
      <img class="d-block w-100" src="assets/Steampunk-Animation-Une.jpg" alt="Third slide">

    </div>
  <div class="desciption">
      <div class="textes">
       <h1>Croisiere spatiale</h1>
        <p>Bienvenue à bord de votre croisière dans l'espace ! Lors de cette expérience de voyage unique en son genre, vous découvrirez les merveilles de l'univers tout en profitant d'un confort et d'un luxe inégalables. <br><br>

          Votre navire spatial est équipé des dernières technologies de pointe, offrant des systèmes de sécurité avancés, une atmosphère contrôlée et une gravité artificielle pour votre confort. Vous serez également assisté par un équipage qualifié et expérimenté pour répondre à tous vos besoins.<br><br>
          
          Au cours de votre croisière, vous pourrez profiter d'une vue imprenable sur les étoiles et les galaxies environnantes. Vous pourrez également participer à une variété d'activités passionnantes, notamment des excursions sur les planètes les plus fascinantes, des sorties dans l'espace pour explorer des phénomènes spatiaux incroyables et des conférences scientifiques données par des experts du domaine.<br>
                <br>
                Qu'est ce que vous attendez pour embarquer!!      
          
        </p>
      </div>
  </div>

 

</div>