<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Version</th>
            <th>nom</th>
            <th>prenom</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pass of list()">
            <td>{{pass.id}}</td>
            <td>{{pass.version}}</td>
            <td>{{pass.nom}}</td>
            <td>{{pass.prenom}}</td>
            <td>
               
            </td>
        </tr>
    </tbody>

</table>