

.active:hover{
    background-color: #1f1a40;
}

.carousel.item img{

  width: 100%;
  height: auto;
}
.desciption{
display: flex;
flex-direction: row;
  width: 100%;
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
}
#voyage{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carouselTaille{
  width: 15%;
  height: auto;
  margin-left: 2%;
  margin-top: 2%;
}
.card{
  width: 100%;
height: 300px;
  margin-top: 2%;
  margin-right: 2%;
}
.textes{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}
.desciption{
  width: 60%;
  border: 2px solid #AAABD3;
  border-radius: 10px;
    background:transparent;
  backdrop-filter: blur(30px);

}
.btn{
  background-color: #353866;
}
.couleur-card{
  background-color: #E168A9;
}
.card{
   border: 2px solid #AAABD3;
  border-radius: 10px;
background-color: transparent;
  backdrop-filter: blur(50px);
}
p{
  font-family:  Comic Sans MS;
 // font-weight: bold;
  color: black;
}
h1{
  color: #AAABD3;
}
h5{
  color: black;
}