
<div class="card-body" *ngFor="let voy of listeVoyage()">
        <div id="voyage">
        <h5 class="card-title">id: {{voy.id}}</h5>
        <p class="card-text">prix : {{voy.prix}}</p>
        <p class="card-text">distance : {{voy.distance}}</p>
        <div>
                <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        <div *ngFor="let e of voy.etapes">{{e.planeteDepart.nom}} - </div> <div>{{(voy.etapes[(voy.etapes.length)-1]).planeteArrivee.nom}}</div>
                </div>
                </div>
        <a [routerLink]="['/connexion']" [routerLinkActive]="'active'" class="btn btn-primary">Reserver</a>
</div>
</div>


