
<div class="card-body" *ngFor="let voy of listeVoyage()">
        
        <div id="voyage">
        
                <tbody>
                       
                        <tr *ngFor="let e of voy.etapes; let index = index">
                               <div *ngIf="index<=(voy.etapes.length)-1">
                                        <td *ngIf="index<=(voy.etapes.length)-1">{{e.planeteDepart.nom}}</td></div>
                                        <div *ngIf="index>=(voy.etapes.length)-1">
                                        <td >{{(voy.etapes[(voy.etapes.length)-1]).planeteArrivee.nom}}</td></div>
                           
 
                            </tr>
                        </tbody>



                          


                       
               
        </div>
       <div class="info"><p class="card-text">distance : {{voy.distance}}</p>
       <p class="card-text">prix : {{voy.prix}}</p>
        
        <div>
                <button [routerLink]="['/reservation']" class="reserver" >Reserver</button>
                
        
</div>
</div>
</div>
